# Dino World Fun Solution

In [2]:
import sqlite3

db_filename='dinofunworld.db'

In [3]:
conn= sqlite3.connect(db_filename)
c= conn.cursor()

c.execute("SELECT attraction FROM checkin GROUP BY attraction ORDER BY COUNT(attraction) DESC LIMIT 1")
m=c.fetchone()
#print(m[0])  #prints 8


c.execute("SELECT Name FROM attraction WHERE AttractionID=8")
m=c.fetchone()
print(m[0]) #prints Atmosfear

Atmosfear

In [5]:
### TEST FUNCTION: test_question2
# DO NOT REMOVE THE LINE ABOVE
# your code here
c.execute("SELECT DISTINCT Category FROM attraction")
m= c.fetchall()
#print(m) #'Thrill Rides' 'Kiddie Rides' 'Rides for Everyone\r'

c.execute("SELECT attraction,duration FROM checkin")
b= c.fetchall()
#print(b)

mylist=[]

for x in range(len(b)):
    if b[x][1]:
        atime= b[x][1].split(":")
        seconds= int(atime[0])*3600 + int(atime[1])*60 + int(atime[2])
        newlist=[]
        newlist.append(b[x][0])
        newlist.append(seconds)
        mylist.append(newlist)
    
#print(mylist)


mylist2=[]

for x in mylist:
    ye=0   
    for y in mylist2:
        if x[0] == y[0]:
            y[1] = y[1] + x[1]
            y[2] = y[2] + 1
            ye=1
    if ye == 0:
        mylist2.append([x[0],x[1],1])
    ye=0


for x in mylist2:
    x[1]=round(x[1]/x[2],2)
    del x[2]

first=0
second=0

'''
for x in mylist2:
    if x[0]> first:
        first=x[0]
    elif x[0]> second:
        second=x[0]

print(second)
'''

c.execute("SELECT attraction FROM checkin GROUP BY attraction ORDER BY AVG(duration) DESC")
b= c.fetchall()
#print(b)

c.execute("SELECT AttractionID FROM attraction WHERE Category='Thrill Rides\r' OR Category ='Kiddie Rides\r' OR Category='Rides for Everyone\r' ")
n= c.fetchall()
#print(n) #'Thrill Rides' 'Kiddie Rides' 'Rides for Everyone\r'

for l in range(len(n)):
    n[l]= n[l][0]

#print(n)
ans2=[]

for x in mylist2:
    if x[0] in n:
        ans2.append(x)

#print(ans2) #attractionID 81 has the 2nd longest time



'''
ans=[]
for x in range(len(b)):
    if b[x] in n:
        ans.append(b[x])

#print(ans[1])
'''

c.execute("SELECT Name FROM attraction WHERE AttractionID=81")
n= c.fetchone()
print(n[0])  #prints Flight of the Swingodon

Flight of the Swingodon

In [22]:
#c.execute ("SELECT DISTINCT type FROM attraction")
#m=c.fetchall()
#print(m)  #prints 'Fast Food'
c.execute ("SELECT AttractionID FROM attraction WHERE type='Fast Food'")

m=c.fetchall()
#print(m)

c.execute ("SELECT attraction FROM checkin GROUP BY attraction ORDER BY COUNT(attraction)")

b=c.fetchall()
#print(b)

for x in range(len(b)):
    if b[x] in m:
        ans= b[x]
        break

#print(ans) #prints (35,)
c.execute ("SELECT Name FROM attraction WHERE AttractionID=35")

m=c.fetchone()
print(m[0])   #prints Theresaur Food Shop

Theresaur Food Stop